<div class="detailContentLayout">
    <table>
        <tr>
            <td class="bindingContentLayout">
                Version:
            </td>
            <td>
                {{about.version}}
            </td>
        </tr>
        <tr>
            <td class="bindingContentLayout" style="vertical-align: top;">
                Beskrivning:
            </td>
            <td>
                {{about.description}}
            </td>
        </tr>
        <tr>
            <td class="bindingContentLayout">
                @Author:
            </td>
            <td>
                {{about.author}}
            </td>
        </tr>
    </table>
</div>