
<table class="contentTable">
    <tr class="listItemRow">
        <td class="itemImg" rowspan="2">
            <img ng-src="{{item.ImageUrl}}" class="itemUrl" />
        </td>
        <td class="itemName" colspan="3">
            {{item.Event}}
        </td>
    </tr>
    <tr class="listItemRow">
        <td class="itemDate" align="left">
            {{item.EventDate}}
        </td>
        <td class="itemStatus" align="right">
            {{item.EventStatus}}
        </td>
        <td class="itemVenue" align="right">
            {{item.Venue}}
        </td>
    </tr>
</table>

<!--<script type="text/ng-template" id="listitemtemplate.html">
    <table class="itemTable">
        <tr class="listItemRow">
            <td class="itemImg" rowspan="2">
                <img ng-src="{{item.ImageUrl}}" class="itemUrl" />
            </td>
            <td class="itemName" colspan="3">
                {{item.Event}}
            </td>
        </tr>
        <tr class="listItemRow">
            <td class="itemDate" align="left">
                {{item.EventDate}}
            </td>
            <td class="itemStatus" align="right">
                {{item.EventStatus}}
            </td>
            <td class="itemVenue" align="right">
                {{item.Venue}}
            </td>
        </tr>
    </table>
</script>-->



